@tailwind base;
@tailwind components;
@tailwind utilities;


body{overflow-x: hidden;}





























@layer components {
































  .header{
















    @apply
































    flex
    px-40
    py-20
    items-center
    justify-between
































    transition-all
   
    max-xl:px-28
   
















    max-lg:px-20
    max-lg:py-16
















    max-lg:items-start
















    max-md:bg-white/80
    max-md:px-14
    max-md:py-12
   
    max-sm:px-10
    max-sm:py-10
































































  }
















    .logo {
















      @apply
















      text-xl
     
      font-semibold
     
      hover:text-blue-700
















          max-2xl:text-lg
















          max-xl:text-lg
















          max-lg:text-base
































































































    }
















  .links-navbar {
















































   @apply
   
   text-lg
   font-light
   text-gray-400
































   transition-all
   
   hover:text-blue-700
     hover:font-semibold
















      max-2xl:text-lg
















      max-xl:text-lg
















      max-lg:text-base
































































  }
















































  /* MAIN */




  .margem-lateral{






    @apply




    px-40






    transition-all
   
    max-xl:px-28




    max-lg:px-20




    max-md:px-14
   
    max-sm:px-10






  }
















  /* OUTLINE */
















  .div-outline{
   
    @apply
















    flex
    flex-col
   
    h-screen
   
    px-28
   
    overflow-hidden
   
    transition-all
















    max-xl:px-28
   
    max-lg:px-20
















    max-md:px-14
   
    max-sm:px-10
















  }
















 
  .logo-outline{
   
    @apply
   
    w-60
   
    translate-y-10
   
    transition-all
















    max-xl:w-56
   
    max-lg:w-52
















    max-md:w-40
   
    max-sm:w-36
















  }
















  .img-outline{
   
    @apply
















    relative
















     -rotate-45
     
     -top-48
     
     left-96
















    transition-all
   
































    max-lg:-top-28
    max-lg:left-80
































    max-md:-top-16
    max-md:left-64
















     max-sm:top-60
     max-sm:left-12
     max-sm:scale-150
     max-sm:rotate-0
















     
   
















  }












/* Sobre o projeto */




















/* FOOTER */
































  .icons-footer{
















































    @apply
































    cursor-pointer
   
    fill-gray-200
   
    hover:fill-gray-500
















































    }
































}



























































































































































































